body {
  margin: 0;
  padding: 20px 5px 20px 5px;
  box-sizing: border-box;
  height: 2030px;
  background-color: #EEEEEE;
}

.img-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.img-menu img {
  height: 1000px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 4px rgb(82, 80, 80);
}

.img-wa {
  position: absolute;
  top: 10px;
  right: 10px;
}

.img-wa img {
  height: 70px;
  box-shadow: none;
}

.img-wa b {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}